version: "3"
services:
  sae-ldap:
    image: osixia/openldap:1.5.0
    container_name: sae_ldap
    environment:
      LDAP_ORGANISATION: "SAE"
      LDAP_DOMAIN: "unal.edu.co"
      LDAP_BASE_DN: ""
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_CONFIG_PASSWORD: "config"
    ports:
      #Puerto LDAP inseguro - usaremos este
      - "389:389"
      #Puerto TLS
      - "636:636"
    hostname: "unal.edu.co"
    networks:
      nodes-networks:
        aliases:
          - sae_ldap

  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: ldap_client
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "sae-ldap"
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "8001:80"
    links:
      - sae-ldap

networks:
  nodes-networks:
    external: true
